.resumo-dashboard {
    display: flex;
    gap: 20px;
}

.resumo-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 12px;
    padding: 25px;
    min-width: 260px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.resumo-card h3 {
    margin-bottom: 10px;
    color: #001f3f;
}

.resumo-numero {
    font-size: 3rem;
    font-weight: bold;
    color: #004080;
}

.error-message {
    color: #ff4d4f;
}

.h3-resumo{
    font-size: 22px;
}
